version: "3.9"
services:
  web:
    container_name: gusto_web
    build: .
    image: gusto_web
    ports:
      - 3000:3000
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - gusto-postgres
  test:
    container_name: gusto_test
    image: gusto_web
    command: npm test
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - gusto-postgres
  gusto-postgres:
    container_name: "gusto-postgres"
    image: postgres:15
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgresql-data:/var/lib/postgresql/data
      - ./postgres-init-scripts:/docker-entrypoint-initdb.d

volumes:
  postgresql-data:
